/br.com.ifba.atividade1.TailaMartins/nbproject/private/
/atividade1.calculadora/nbproject/private/
/br.com.ifba.atividade03/nbproject/private/
/br.com.ifba.atividade03/build/
/br.icom.ifba.atividade03.image/nbproject/private/
/prg03TailaMartins/nbproject/private/
/prg03TailaMartins/build/
/br.com.ifba.atividade04.view/nbproject/private/
